.product-list {
  text-align: center;
  margin-bottom: $global-margin * 2;
  a, img, .text-center, .text-center div:first-child {
    height: 100%;
  }
  img {
    max-width: 100%;
    flex-grow: 1;
    object-fit: contain;
  }
  &-item-name {
    margin: $global-margin / 2 0;
    display: block;
  }
  a {
    display: block;

    .text-center {
      position: relative;

      display: flex;
      flex-shrink: 0;
      flex-direction: column;
    }
  }
  .panel-footer .price {
    color: $skull-gray;
    text-transform: uppercase;
  }
  &__sale {
    svg {
      position: absolute;
      left: 0;
      top: 0;
    }
    &__text {
      position: absolute;
      top: 0.5rem;
      left: 0.15rem;
      color: $white;
      font-size: 0.8rem;
      text-transform: uppercase;
      transform: rotate(-45deg);
      font-weight: 500;
    }
  }
}
